
.benefit {


  &__item-title {
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--main-font-color);
        margin-bottom: 10px;
}
  &__icon-background {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        background-color: var(--secondary-background-color);
        border-radius: 4px;
        margin-bottom: 30px;
}
 
  @media screen and (max-width: 767px) {
    --card-item: 1;

    &__item-title {
    text-align: center;
    }
}
  @media screen and (min-width: 768px) {
    --card-item: 2;
    }

  @media screen and (min-width: 1200px) {
    --card-item: 4;

    &__list {
    padding-bottom: 0px;
    }
}

}