.team {
    background-color: var(--secondary-background-color);
    --card-item: 4;

    &__item-title {
        font-weight: 500;
        color: var(--main-font-color);
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    
    &__description {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    
    &__photo-description {
        background-color: var(--team-card-background-color);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 32px;
        padding-right: 32px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        border-top: none;
    }
}

