.work__item {
    position: relative;
}

.work__description {
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--font-color-dark-theme);
    text-align: center;
    padding: 28px;
}