
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 528px;
    min-height: 580px;
    background-color: #ffffff;
    transform: translate(-50%, -50%);
    transition: transform var(--transition);
    padding: 40px;

    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.5) rotate(-45deg);
    }

    &__btn-close {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 8px;
        right: 8px;
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        cursor: pointer;
        transition: background-color var(--transition);
    
        &:hover,
        &:focus {
            background-color: var(--accent-color);
            fill: var(--font-color-dark-theme);
        }
    }
    &__header {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        color: var(--main-font-color);
        margin-bottom: 12px;
    }
    &__form-wrapper {
        margin-bottom: 20px;
    }
    &__form-field:not(:last-child) {
        display: block;
        margin-bottom: 10px;
    }
    &__field-name {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--secondary-font-color);
        margin-bottom: 4px;
    }
    &__input-wrapper {
        position: relative;
    }
    &__form-input {
        height: 40px;
        width: 100%;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding-left: 42px;
        padding-right: 12px;
        transition: border-color var(--transition);
    
        &:hover,
        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
        &:focus+.modal__input-icon {
            fill: var(--accent-color);
        }
        &:hover+.modal__input-icon {
            fill: var(--accent-color);
        }

    }
    &__input-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: fill var(--transition);
    }
    &__form-comments {
        resize: none;
        width: 100%;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        padding: 12px 16px;
        transition: border-color var(--transition);
    
        &:hover,
        &:focus {
            outline: none;
            border-color: var(--accent-color);
        }
    
        &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
    }
    &__checkbox-wrapper {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__checkbox-label {
        position: relative;
        display: flex;
        align-items: center;
    
        &::before {
            display: inline-block;
            width: 16px;
            height: 15px;
            content: "";
            border: 2px solid #212121;
            border-radius: 2px;
            cursor: pointer;
            margin-right: 8px;
            transition: border-color var(--transition);
    
            .modal__checkbox:checked+& {
                border: none;
                background-color: var(--accent-color);
            }
    
            .modal__checkbox:focus+& {
                border-color: var(--accent-color);
            }
    
            .modal__checkbox:hover+& {
                border-color: var(--accent-color);
            }
        }
    }
    &__icon-check {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(30%);
        z-index: 100;
    }
}