.model-btn {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--font-color-dark-theme);
    background-color: var(--accent-color);
    cursor: pointer;
    min-width: 200px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    transition: color var(--transition), background-color var(--transition);

    &:hover,
    &:focus {
        color: var(--font-color-dark-theme);
        background-color: var(--model-btn-hover-color);
    }
    &__icon-send {
        margin-left: 10px;
    }
}
