
.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &__title {
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        color: var(--main-font-color);
        margin-bottom: 50px;
    }
}